@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --slate-900: #2C3037;
    --background: #2C3037;
    --footer-background: #1F2227;
    --foreground: #F0F0F0;
    --ghost: #2C3037;
    --card: #2c3037;
    --card-foreground: #F0F0F0;
    --popover: #2c3037;
    --popover-foreground: #F0F0F0;
    --primary: #f0f0f0;
    --primary-foreground: #F0F0F0;
    --secondary: #cbd5e1;
    --secondary-foreground: #F0F0F0;
    --muted: #e2e8f0;
    --muted-foreground: #F0F0F0;
    --accent: #F0F0F0;
    --accent-foreground: #F0F0F0;
    --destructive: #ef4444;
    --destructive-foreground: #2C3037;
    --border: #cbd5e1;
    --input: #cbd5e1;
    --ring: #F0F0F0;
    --radius: 0.5rem;
    --chart-1: #93c5fd;
    --chart-2: #84cc16;
    --chart-3: #fbbf24;
    --chart-4: #a855f7;
    --chart-5: #f87171;
  }

  .dark {
    --slate-900: #F0F0F0;
    --background: #F0F0F0;
    --footer-background: #12172b;
    --foreground: #2C3037;
    --ghost: #2C3037;
    --card: #1e293b;
    --card-foreground: #2C3037;
    --popover: #1e293b;
    --popover-foreground: #2C3037;
    --primary: #f0f0f0;
    --primary-foreground: #2C3037;
    --secondary: #F0F0F0;
    --secondary-foreground: #2C3037;
    --muted: #F0F0F0;
    --muted-foreground: #cbd5e1;
    --accent: #F0F0F0;
    --accent-foreground: #2C3037;
    --destructive: #b91c1c;
    --destructive-foreground: #2C3037;
    --border: #F0F0F0;
    --input: #F0F0F0;
    --ring: #94a3b8;
    --chart-1: #60a5fa;
    --chart-2: #4ade80;
    --chart-3: #facc15;
    --chart-4: #c084fc;
    --chart-5: #f43f5e;
  }
}

@layer base {
  @font-face {
    font-family: 'Lilita One';
    font-style: normal;
    font-weight: normal;
    src: url('./fonts/LilitaOne-Regular.ttf') format('truetype');
  }

  * {
    @apply border-border font-lilita-one;
  }


  body {
    @apply bg-background text-foreground;
  }
}
